<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de produtos</title>
</head>
<body>
    <h1> Nossos produtos</h1>
    <ul>{% for produto in produtos %}
        <li>
            <a href="{{ url_for('detalhe_produto', produto_id=produto.id) }}">
                {{ produto.nome }}
            </a> - RS {{ "%.2f"|format(produto.preco) }}
        </li>
    {% endfor %}

        <h2>Remover Produto</h2>
    <form method="post" action="/remover">
        <label for="nome">Nome do produto</label>
        <input type="text" name="nome">
        <button type="submit">remover</button>
    </form>
<br><br>
    <h2>Adicionar Produto</h2>
    <form method="post" action="/adicionar">
        <label for="nome">Nome</label>
        <input type="text" name="nome">
        <label for="nome">Preço </label>
        <input type="number" name="preco">
        <button type="submit">Adicionar</button>
    </form>
    </ul>
</body>
</html>