<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capablanca</title>
</head>
<body>
    <h3>José Raúl Capablanca (1921 – 1927)</h3><br>

Considerado um dos maiores gênios da história do xadrez, José Raúl Capablanca demonstrou seu talento excepcional desde muito jovem. Aos quatro anos, aprendeu as regras do jogo apenas observando seu pai, e aos 12 anos já derrotava campeões cubanos. Seu domínio estratégico e raciocínio lógico eram inigualáveis. Ao vencer Emanuel Lasker, Capablanca tornou-se campeão mundial, um feito ainda mais notável por ter conquistado o título de forma invicta, algo que só seria repetido em 2000 por Vladimir Kramnik.
<br><br>
    <a href="/">Voltar para a página inicial</a>

</body>
</html>