<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
</head>
<body>
<center><h1>CAMPEÕES MUNDIAIS DE XADREZ</h1></center><br><br><center>
<div class="imagens">

        <a href="/capablanca"><img src="/imagens/capablanca.jpeg" width="200px" class="capa" ></a>



    
        <a href="/mikhail"><img src="/imagens/makhail.jpeg" width="200px"></a>


        <a href="/fischer"><img src="/imagens/fischer.jpeg" width="200px" ></a>


        <a href="/kasparov"><img src="/imagens/kasparov.jpeg" width="200px" ></a>


        <a href="/carlsen"><img src="/imagens/carlsen.jpeg" width="200px" ></a>


     
</div> 
<div class="texto"><h3 class="blanca">José Raul Capablanca     </h3>        <h3>Mikhail Tal</h3>         <h3 class="bobby">Bobby Fischer</h3>         <h3 class="kas">Garry Kasparov</h3>         <h3>Magnus Carlsen</h3></div>
</center></body>
</html>