<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kasparov</title>
</head>
<body>
    <h3>Garry Kasparov (1985-1992 e 1993-2000)</h3><br>

 Garry Kasparov foi uma figura revolucionária no mundo do xadrez, sendo responsável pela criação da PCA (Associação Profissional de Xadrez) em 1993, após a ruptura com a FIDE (Federação Internacional de Xadrez). Esse rompimento histórico aconteceu em colaboração com Nigel Short, enxadrista e finalista mundial, e resultou em uma cisão no cenário do xadrez.

No mesmo ano, Kasparov conquistou sua primeira vitória mundial sob a PCA, marcando um momento único na história do esporte: pela primeira vez, o xadrez teve dois campeões mundiais simultâneos, com Anatoly Karpov tendo vencido a última partida organizada pela FIDE. Kasparov é amplamente reconhecido como o maior jogador de xadrez de todos os tempos, sendo admirado por sua habilidade incomparável, seu estilo de jogo inovador e sua dominância no tabuleiro por décadas, deixando um legado que ainda influencia o jogo até hoje.
<br><br>    <a href="/">Voltar para a página inicial</a>
</body>
</html>